server:
  port: 8080
  
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true

      
spring:
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:oracle:thin:@localhost:1521/xe
    username: jisungnew
    password: jisungnew1234
    
  servlet:
    multipart:
      file-size-threshold: 5MB
      max-file-size: 100MB
      max-request-size: 100MB   

  mvc:
    view:
      prefix: /templates/
      suffix: .mustache
      
      
# mybatis 설정.
mybatis:
   config-location: classpath:mybatis-config.xml
   mapper-locations:  classpath:mapper/**/*.xml

logging:
  level:
    root: INFO
