server:
  port: 8080
  
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
   
spring:
  application: 
    name: jisungweb-relationships
    
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:oracle:thin:@localhost:1521/xe
    username: jisungnew
    password: jisungnew1234
    
  servlet:
    multipart:
      file-size-threshold: 10MB
      location: D:/upload/
      max-file-size: 100MB
      max-request-size: 100MB   
      
  mvc:
    view:
      prefix: /templates/
      suffix: .mustache
      
      
# mybatis 설정.
mybatis:
   config-location: classpath:mybatis-config.xml
   mapper-locations:  classpath:mapper/**/*.xml

logging:
  level:
    root: INFO
  file:
    path: d:/Logs/
 
jwt:
  header: Authorization
  #HS512 알고리즘을 사용할 것이기 때문에 512bit, 즉 64byte 이상의 secret key를 사용해야 한다.
  #echo 'silvernine-tech-spring-boot-jwt-tutorial-secret-silvernine-tech-spring-boot-jwt-tutorial-secret'|base64
  secret: c2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQtc2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQK
  token-validity-in-seconds: 86400


