<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jisungweb.relationships.member.mapper.MemberMapper">

		<select id="getUserSeq" resultType="string">
			SELECT USERSEQ.NEXTVAL FROM DUAL
		</select>

		<insert id="insertUser" >
		   	INSERT INTO TB_USER (
		    	USER_SEQ
				,USER_ID
				,USER_NAME
				,PHONE_NUMBER
				,USER_PASSWORD
				,USER_EMAIL
				,USER_KEY
				,CREA_DATA
			 )VALUES (
			   	${userSeq}
				,#{userId}	
				,#{userName} 
				,#{phoneNumber}
				,#{userPassword}
				,#{userEmail}
				,(SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(${userSeq}, 10, 0) FROM DUAL)
				,SYSDATE
		   	)
		</insert>
		
		<update  id="updateUser" >
			UPDATE TB_USER SET 
			CHANGE_DATE =SYSDATE,
			<if test="userEmail != null and userEmail != '' ">
   				USER_EMAIL=#{userEmail},
			</if>
			<if test="userId != null and userId != '' ">
   				USER_ID=#{userId},
			</if>
			<if test="userPassword != null and userPassword != '' ">
   				USER_PASSWORD=#{userPassword},
			</if>
			<if test="userPassword != null and userPassword != '' ">
   				USER_NAME=#{userName},
			</if>
			<if test="phoneNumber != null and phoneNumber != '' ">
   				PHONE_NUMBER=#{phoneNumber},
			</if>
			WHERE  USER_KEY=#{userKey}
		</update>
		
		<select id="getLoginUser" resultType="MemberVo">
			SELECT  * FROM TB_USER WHERE 
			USER_ID=#{userId} 
   			AND USER_PASSWORD=#{userPassword}
			<if test="userName != null and userName != '' ">
   				AND USER_NAME=#{userName}
			</if>
			<if test="phoneNumber != null and phoneNumber != '' ">
   				AND PHONE_NUMBER=#{phoneNumber}
			</if>
			<if test="userEmail != null and userEmail != '' ">
   				AND USER_EMAIL=#{userEmail}
			</if>
		</select>
		
		<select id="getUserKey" resultType="MemberVo">
			SELECT  USER_KEY FROM TB_USER WHERE USER_NAME=#{userName} AND PHONE_NUMBER=#{phoneNumber}
		</select>
		
		<select id="getIsUser" resultType="MemberVo">
			SELECT  * FROM TB_USER WHERE USER_ID=#{userId} 
			<if test="userName != null and userName != '' ">
   				AND USER_NAME=#{userName}
			</if>
			<if test="phoneNumber != null and phoneNumber != '' ">
   				AND PHONE_NUMBER=#{phoneNumber}
			</if>
			<if test="userEmail != null and userEmail != '' ">
   				AND USER_EMAIL=#{userEmail}
			</if>
		</select>
		
	
	  

  
</mapper>