<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jisungweb.relationships.member.mapper.MemberMapper">


		<select id="getUserIdcheck" resultType="int">
			SELECT  COUNT(USER_ID) FROM TB_USER 
			WHERE USER_ID=#{userId} AND USER_PASSWORD IS NOT NULL
		</select>
		
		<select id="getUserSeq" resultType="string">
			SELECT USERSEQ.NEXTVAL FROM DUAL
		</select>

		<insert id="insertUser" >
		   	INSERT INTO TB_USER (
		    	USER_SEQ
				,USER_ID
				,USER_NAME
				,PHONE_NUMBER
				,USER_PASSWORD
				,USER_EMAIL
				,USER_KEY
				,CREA_DATA
				,USER_IMAGE_PATH
				,USER_ROLL
				,USER_ACTIVATED
			 )VALUES (
			   	${userSeq}
				,#{userId}	
				,#{userName} 
				,#{phoneNumber}
				,#{userPassword}
				,#{userEmail}
				,(SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(${userSeq}, 10, 0) FROM DUAL)
				,SYSDATE
				,#{userImagePath}
				,#{userRoll}
				,${userActivated}
		   	)
		</insert>
		
		<update  id="updateUser" >
			UPDATE TB_USER SET 
			CHANGE_DATE =SYSDATE,
			<if test="userEmail != null and userEmail != '' ">
   				USER_EMAIL=#{userEmail},
			</if>
			<if test="userId != null and userId != '' ">
   				USER_ID=#{userId},
			</if>
			<if test="userPassword != null and userPassword != '' ">
   				USER_PASSWORD=#{userPassword},
			</if>
			<if test="userName != null and userName != '' ">
   				USER_NAME=#{userName},
			</if>
			<if test="phoneNumber != null and phoneNumber != '' ">
   				PHONE_NUMBER=#{phoneNumber},
			</if>
			<if test="userRoll != null and userRoll != '' ">
   				USER_ROLL=#{userRoll},
			</if>
			WHERE  USER_KEY=#{userKey}
		</update>
		
		<select id="getLoginUser" resultType="MemberVo">
			SELECT  * FROM TB_USER WHERE 
			USER_ID=#{userId} 
   			AND USER_PASSWORD=#{userPassword}
			<if test="userName != null and userName != '' ">
   				AND USER_NAME=#{userName}
			</if>
			<if test="phoneNumber != null and phoneNumber != '' ">
   				AND PHONE_NUMBER=#{phoneNumber}
			</if>
			<if test="userEmail != null and userEmail != '' ">
   				AND USER_EMAIL=#{userEmail}
			</if>
		</select>
		
		<select id="getUserKey" resultType="MemberVo">
			SELECT  USER_KEY FROM TB_USER WHERE USER_NAME=#{userName} AND PHONE_NUMBER=#{phoneNumber}
		</select>
		
		<select id="getIsUser" resultType="MemberVo">
			SELECT  * FROM TB_USER WHERE 1=1
			<if test="userId != null and userId != '' ">
   				AND USER_ID=#{userId} 
			</if>
			<if test="userKey != null and userKey != '' ">
   				AND USER_KEY=#{userKey}
			</if>
			
			<if test="userName != null and userName != '' ">
   				AND USER_NAME=#{userName}
			</if>
			<if test="phoneNumber != null and phoneNumber != '' ">
   				AND PHONE_NUMBER=#{phoneNumber}
			</if>
			<if test="userEmail != null and userEmail != '' ">
   				AND USER_EMAIL=#{userEmail}
			</if>
	
		</select>
		
		<select id="findOneWithAuthoritiesByUsername" resultType="User">
			SELECT  
				USER_SEQ as userSeq,
				USER_PASSWORD as password,
				USER_KEY as userName,
				USER_ROLL as userRoll, 
				USER_ACTIVATED as activated 
				FROM TB_USER WHERE USER_ID=#{userName}
		</select>
		
		<select id="mapUser" resultType="Camelmap">
			SELECT  
				USER_SEQ,
				USER_NAME,
				USER_ROLL, 
				USER_ACTIVATED 
			FROM TB_USER WHERE USER_KEY=#{userKey}
		</select>
		

		
		

  
</mapper>